# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.pyc
venv/
.env

# Build / output
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
logs/
*.log

# Misc
*.swp
*.swo
