body {
  background:#0f0f0f;
  color:#fff;
  font-family: Arial, sans-serif;
  padding:20px;
  margin:0;
}

h1 {
  text-align:center;
  margin-bottom:20px;
}

.card {
  background:#1c1c1c;
  padding:15px;
  border-radius:8px;
  margin-bottom:20px;
}

input, select, button {
  width:100%;
  padding:8px;
  margin:6px 0;
  border-radius:5px;
  border:none;
}

button {
  background:#3a86ff;
  color:#fff;
  cursor:pointer;
}

.grid-2 {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

ul {
  list-style:none;
  padding:0;
}

li {
  background:#2a2a2a;
  margin:5px 0;
  padding:6px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.hidden {
  display:none;
}

.grafico-card canvas {
  width:100% !important;
  height:auto !important;
}

/* IRPF */
.irpf {
  border-left:4px solid #3a86ff;
}

.irpf-box {
  background:#111;
  padding:10px;
  border-radius:6px;
}

/* MOBILE */
@media (max-width: 800px) {
  body {
    padding:10px;
  }

  .grid-2,
  .responsive-pdf {
    grid-template-columns:1fr;
  }

  canvas {
    max-width:100%;
  }
}
